{{#partial "content" }}

{{> components/header}}

<h3>
    {{#if playlistAlreadyExists}}
        {{> icons/checked}} published
    {{else}}
        <a href="#" hx-get="{{{links.createPlaylist}}}" hx-swap="none">
            {{> icons/create}}

            publish

            {{> spinner}}
        </a>
    {{/if}}
</h3>

{{> components/top-stats}}

<h3>
    {{> icons/musicnote}}
    le top 30
</h3>

{{#each tracks}}
    <div class="flex-container">
        <div><code>{{count}}</code></div>
        <div class="flex-rest"><b>{{title}}</b><br/> {{artist}}</div>
    </div>
{{/each}}

{{/partial}}

{{> layouts/base}}